*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
    --main-background: #f5f5f5;
    --gray-light: #dadde1;
    --gray-dark: gray;
    --main-text: #101828;
    --gray-text: #333;
    --orange-bright: #f57708;
}
a {
  display: block;
  text-decoration: none;
  color: var(--first-font-color);
  background-color: var(--button-bg-color);
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
  text-align: center;
}

a:hover{
color: var(--second-font-color)
}
a:active{
    transform: scale(0.96);
}

button{
    padding: 8px 16px;
    border-radius: 4px;
    background-color: var(--button-bg-color);
    transition: all 0.2s ease;

}

    button:hover{
color: var(--second-font-color)
}
button:active{
    transform: scale(0.96);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
}


button {
  border: none;
  outline: none;
  cursor: pointer;
}


#root {
  width: 100%;
}

.container{
    padding: 8px;
}