.wrap{
    display: flex;
    flex-direction: column;
    padding: 4px;
    width: 200px;
    height: 400px;
    border-radius: 8px;
    border: 1px solid black;
}

.title{
    margin-bottom: 4px;
}

.taskWrap{
    display: flex;
    flex-direction: column;
    gap: 4px;
}