.wrap{
    display: flex;
    flex-direction: column;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid var(--gray-text);
    color: var(--gray-text)
}

.title{
    margin-bottom: 4px;
}

.taskWrap{
    display: flex;
    flex-direction: column;
    gap: 4px;
}