.wrap{
    cursor: grab;
    border-radius: 8px;
    background-color: var(--gray-dark);
    padding: 4px;
}

.wrap:hover{
    border: 1px solid var(--main-text);
}

.title{

}

.description{
    margin-top: 2px;
}

.btnWrap{
    padding: 4px;display: flex;
    justify-content: space-between;
}